textarea {
	 height:70%;
	 width:100%;
	 border: solid thin;
	 margin-bottom:.5rem;
}

button {
       border: solid thin;
       padding:.5rem;
}

footer {
       border-top:1px dotted #ccc;
       margin-top:1rem;
       padding-top:1rem;
       text-align:right;
}

footer p {
       position: absolute;
       bottom: .5rem;
       right: 2rem;
}
